@import "tailwindcss";
@plugin 'tailwind-scrollbar';


@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-zinc-900 text-zinc-50;
    }
}


.menu-btn {
    @apply size-10 grid md:hidden place-items-center bg-zinc-50/10 rounded-xl ring-inset ring-1 ring-zinc-50/[0.02] backdrop-blur-2xl hover:bg-zinc-50/15 cursor-pointer transition-all duration-300 active:scale-95;
}

.navbar {
    @apply absolute right-0 invisible p-2 mt-2 transition-all duration-300 ease-in-out scale-90 opacity-0 md:static top-full md:mt-0 min-w-40 md:w-full bg-zinc-50/10 rounded-2xl ring-1 ring-inset ring-zinc-50/5 blur-sm isolate gap-x-1 md:visible md:opacity-100 md:blur-none md:scale-100 md:flex md:items-center backdrop-blur-2xl;
}

.navbar.active {
    @apply visible scale-100 opacity-100 blur-none;
}

.nav-link {
    @apply flex flex-col justify-center px-4 py-2 text-sm font-medium tracking-wide transition-colors text-zinc-50/50 hover:text-zinc-50;
}

.nav-link.active {
    @apply duration-500 text-zinc-900;
}

.navbar .active-box {
    @apply absolute transition-all duration-500 rounded-lg bg-zinc-50 -z-50;
}

.btn .material-symbols-rounded {
    @apply text-[18px];
}

.btn:has(.material-symbols-rounded) {
    @apply pr-3;
}



@layer utilities {
    .btn {
        @apply flex items-center gap-2 px-4 text-sm font-medium transition-colors duration-300 cursor-pointer h-9 rounded-xl ring-1 ring-zinc-50/5 ring-inset;
    }

    .btn-primary {
        @apply h-11 bg-sky-400 text-zinc-950 hover:bg-sky-300 active:bg-sky-400;
    }

    .btn-secondary {
        @apply bg-zinc-50 text-zinc-900 active:bg-zinc-50/80;
    }

    .btn-outline {
        @apply h-11 bg-zinc-800 hover:bg-zinc-700 active:bg-zinc-800;
    }

    .material-symbols-rounded {
        @apply size-[1em] overflow-hidden;
        font-variant-settings: "FILL" 0, "wgt" 400, "GRAD" 0, "opsz 24";
    }

    .headline-2 {
        @apply text-3xl font-semibold lg:text-4xl bg-linear-0 lg:leading-tight from-[#fafafa] to-[#a1a1aa] bg-clip-text text-transparent;
    }

    .title-1 {
        @apply text-[22px] font-normal;
    }

    .img-box {
        @apply overflow-hidden bg-zinc-700;
    }

    .img-cover {
        @apply object-cover size-full;
    }

    .section {
        @apply px-4 pt-20 md:px-0 lg:pt-32;
    }

    .label {
        @apply block text-zinc-200 text-sm font-normal mb-2
    }

    .text-field {
        @apply block outline-none w-full px-3 py-3 text-sm bg-zinc-800 rounded-xl ring-1 ring-inset ring-transparent transition-shadow hover:ring-zinc-50/5 focus:ring-sky-400 focus:ring-2
    }

    .text-field::placeholder {
        @apply text-zinc-400;
    }

    .reveal-up {
        @apply translate-y-20 opacity-0;
    }
}